/*HTML resetting*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 25rem;
  margin: 0 auto;
}

/* This is to keep the footer at the bottom always */
/* https://matthewjamestaylor.com/bottom-footer */
/* We can also just give these properties to the body */
#flex-container {
  display: flex;
  flex-direction: column;

  min-height: 100svh;
}
#flex-container > footer {
  margin-top: auto;
}
.todo-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-bottom: 0.5rem;
  border: lightgray 0.1rem solid;
  border-radius: 0.25rem;
  -webkit-box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.25);
}
.todo-input {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 0.25rem;
  margin: 0.2rem;
}
.delete-btn,
.check-btn {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  appearance: none;
  margin: 0.5rem;
  background-position: center;
}
.delete-btn {
  background-color: unset;
  background-image: url("img/trash-can-regular.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.check-btn {
  background-image: url("img/circle-check-regular.svg");
  background-repeat: no-repeat;
}
/* OPTIONAL: Responsive font sizes. They get a bit big when on Desktop Fullscreen */
html {
  /* 1rem = 10px */
  /* font-size: 62.5%; */
  /*font size is responsive to screen size*/
  /* font-size: calc(15px + 0.390625vw); */
  font-size: calc(1rem + 0.25vw);
}
