/*HTML resetting*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #4caf50;
}

/* OPTIONAL: Responsive font sizes. They get a bit big when on Desktop Fullscreen */
html {
  /* 1rem = 10px */
  /* font-size: 62.5%; */
  /*font size is responsive to screen size*/
  /* font-size: calc(15px + 0.390625vw); */
  font-size: calc(1rem + 0.25vw);
}

body {
  max-width: 25rem;
  margin: 0 auto;
  background: linear-gradient(
    185deg,
    rgba(236, 239, 240, 1) 0%,
    rgba(177, 180, 182, 1) 100%
  );
}

/* This is to keep the footer at the bottom always */
/* https://matthewjamestaylor.com/bottom-footer */
/* We can also just give these properties to the body */
#flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}
header {
  position: fixed;
  max-width: 25rem;
  width: 100svw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-color);
  border-radius: 0 0 0.25rem 0.25rem;
}

main {
  margin-bottom: 3.8rem;
}

footer {
  position: fixed;
  bottom: 0;
  box-shadow: 0 -10px 25px -5px #bbbebf;
  border-radius: 0.25rem 0.25rem 0 0;
  max-width: 25rem;
  width: 100svw;
}

#todo-container {
  margin-top: 5rem;
}
.todo-item {
  display: flex;
  width: 96%;
  margin: 0 auto;
  align-items: center;
  background-color: #fff;
  margin-top: 0.5rem;
  border: lightgray 0.1rem solid;
  border-radius: 0.25rem;
  -webkit-box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.25);
}
.todo-input {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 0.25rem;
  margin: 0.2rem;
}
.delete-btn,
.check-btn {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  appearance: none;
  margin: 0.5rem;
  background-position: center;
  opacity: 1;
}
.delete-btn {
  background-color: unset;
  background-image: url("img/trash-can-regular.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.delete-btn-disabled {
  opacity: 0.5;
  filter: grayscale(100%);
}
.check-btn {
  background-image: url("img/circle-check-regular.svg");
  background-repeat: no-repeat;
}
.check-btn-checked {
  background-image: url("img/circle-check-solid.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}
.input-checked {
  text-decoration: line-through;
  color: grey;
}
#todo-input {
  flex-grow: 1;
  padding: 0.5rem;
  margin-right: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#todo-add-btn {
  border: none;
  border-radius: 50%;
  background-color: #fff;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
}
.done:first-child {
  margin-top: 3rem;
}

.fa-regular {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.screen-reader-text {
  border: 0;
  padding: 0;
  margin: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  clip-path: inset(50%);
}
.footer-buttons {
  height: 3.5rem;
  display: flex;
  background-color: var(--bg-color);
  font-size: 1rem;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.5rem;
}
#btnAll,
#btnActive,
#btnDone {
  background: var(--bg-color);
  border: none;
  font-size: 1rem;
  opacity: 0.7;
  cursor: pointer;
  flex-grow: 1;
}
#btnAll:hover,
#btnActive:hover,
#btnDone:hover {
  background-color: #2e8531;
  color: #fff;
}
#btnActive {
  border-left: grey 0.1rem solid;
  border-right: grey 0.1rem solid;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
